.all-use-modal{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.content-wrapper section {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

.content-wrapper {
    margin:auto;
    padding:0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper>img {
    width:100%;
}

.registration-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 75%;
  padding: 30px;
}

input.register-form {
	padding: 5px;
	margin: 5px;
}

input[type=submit].register-form {
	padding: 10px;
	color: #EFFAEE;
	text-transform: uppercase;
	background-color: #F45F55;
	border: 1px solid #dfdfdf;
}