@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300i|Martel+Sans|Montserrat:900i');

body {
  position: relative;
  font-family: "Martel Sans";
  color: #1D142E;
  margin: 0;
  background-color: #ffffff;

  overflow-x: hidden;
}

p {
  font-family: "Martel Sans";
  color: #1D142E;
}

section{
  height: 100vh;
}

.logo{
  font-size: 3.3em;
  height: 124px;
  font-family: Montserrat;
  font-weight: 900;
  font-style: oblique;
}

h1, h2, h3, h4, h5 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-style: oblique;
  margin: 0;

}

.app {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.app > * {
  flex: 1 100%;
}

div.img-card{
  position: relative;
  display: grid;

}

.img-look{
  width: 30vw;
  margin: 0;
  padding:0;
}

.img-icon{
  width: 35px;
  height: 35px;
  position: absolute;
top: 50%;
  left: 50%;
  opacity: 0;
}

.img-card:hover  > .img-icon { opacity: 1 ; } 

/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
  div.masonry { display: block; }
  div.masonry img {  
  display: inline-block;
  vertical-align: top;
  }
}

input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0;
}

*:focus {
    outline: none;
}

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.clear {
  clear: both;
}

/*nav-bar*/
.navBar{
  background-color: #EFFAEE;
  width: 100%;
  height: 100%;
  display: block;

  position: sticky;
  top:0;

  z-index: 80;
}

.navBar h1 {
  margin: 0;
  display: inline-block;
  text-align: center;
}

.navBar ul {
  height: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navLinks {
  height: 100px;
  list-style: none;
  float: left;
  padding: 5px;
  margin: 0;
  display: inline-block;

}

.navLinks a {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 100px;
}

li.navLinks.nav-right {
    float: right;
}

/* Nav transition effects */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}


.headerImg {
  height: 100px;
/*  display: inline-block;
  text-align: left;*/
}

.center{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.left {
  float: left;
}

.filter-bar{
  display: block;
/*  padding: 10px;*/
}

.looks-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.masonryApi { 

  background-color: #EC4068;
  background: -webkit-linear-gradient(top, #F45F55, #EC4068, #AE2E7A);
  background: -o-linear-gradient(top, #F45F55, #EC4068, #AE2E7A);
  background: linear-gradient(to bottom, #F45F55, #EC4068, #AE2E7A);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0px;
  height: 400vh;
  width: 120vw;

} 

div.masonryApi:hover .img-look { opacity: 1; }
div.masonryApi:hover .img-look:hover { opacity: 0.5; } 


.look-card{
  padding: 75px 30px;
}

.quoteBar {

  background-image: url("../images/bg01.jpg");
  background-size: cover;
  order: 4;

}

.quote-screen{
  background-color: #ce93d8;
  height: 100%;
  opacity: .5;
  z-index: 1;
}

.quoteBar blockquote{
  z-index: 10;
}

.component-heading{
  padding: 10px 0 0 0;
  text-align: center;
}

.footerBar {
  background-color: #EFFAEE;
  position: fixed;
  bottom: 0;
  width: 100%;
  order: 6;

  text-align: center;

}

.landing{
  order: 1;
}

.link:hover {
  cursor:pointer;
}

.FilterBar {
    padding: 20px;
}