.landingImg {
  width: 25vw;
  flex: none;
  align-self: center;

}

.landing {
	height: 100vh;
	width: 100vw;
	background-color: #EC4068;
	background: -webkit-linear-gradient(top left, #F45F55, #EC4068, #AE2E7A);
	background: -o-linear-gradient(top left, #F45F55, #EC4068, #AE2E7A);
	background: linear-gradient(to bottom right, #F45F55, #EC4068, #AE2E7A);

  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4 {

  flex: none;
  align-self: center;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

}

select, input, button {
  border-width: 0px;
  background-color: #FFFFFF;
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  width: 30vw;
  margin: 2px;
  padding: 3px;

}

input[type=submit] {
    text-transform: uppercase;
    color: #1D142E;
}
